# Supabase Configuration
# Substitua pelos valores reais do seu projeto no Supabase
NEXT_PUBLIC_SUPABASE_URL=your-supabase-project-url
NEXT_PUBLIC_SUPABASE_ANON_KEY=your-supabase-anon-key
SUPABASE_SERVICE_ROLE_KEY=your-supabase-service-role-key
SUPABASE_SECRET=your-supabase-jwt-secret

# Vexutopia Payment Gateway Configuration
VEXUTOPIA_API_KEY=vex_test_295dbba59980edb365495625c2e8a8cde7c46f6fc287ce225c69657ffd81289b
VEX_WEBHOOK_SECRET=0afba4da7914669231fb1b52c81109b58f23ef424e5ffbec6fd458f64ac6c8fd
NEXT_PUBLIC_APP_URL=https://eromusa.com

# LeakifyHub API Configuration
NEXT_PUBLIC_LEAKIFY_PUBLIC_KEY=pk_test_aefe0df0783885da04d3d0d9768bbb08
LEAKIFY_SECRET_KEY=sk_test_6c05f0e933d0896e0ce8ff384d595e71
LEAKIFY_API_URL=https://api.leakifyhub.fun/api/v1